<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
      </ul>
      <ul *ngIf="isLogged" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/test">Test</a>
        </li>
      </ul>
      <ul *ngIf="isLogged" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-product">Add product</a>
        </li>
      </ul>

<!--      &lt;!&ndash; Search form &ndash;&gt;-->
<!--      <form class="d-flex input-group w-auto">-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          placeholder="Type query"-->
<!--          aria-label="Search"-->
<!--        />-->
<!--        <button class="btn btn-outline-primary" type="button" routerLink="/search" >-->
<!--          Search-->
<!--        </button>-->
<!--      </form>-->

      <!-- Left links -->

      <div class="d-flex align-items-center">

        <button *ngIf="isLogged" type="button" class="btn btn-link px-3 me-2" (click)="logout()">Logout</button>
        <button *ngIf="!isLogged" type="button" class="btn btn-link px-3 me-2" (click)="login()">Login</button>
        <button *ngIf="!isLogged" type="button" class="btn btn-link px-3 me-2" (click)="register()">Register</button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/LordDarkReader/e-commerce"
          role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
        <div *ngIf="isLogged">     Welcome, {{loginName}} </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
